cairocffi==0.8.1
CairoSVG==1.0.22
cffi==1.11.5
cssselect2==0.2.1
html5lib==1.0.1
Jinja2==2.10
markdown2==2.3.5
MarkupSafe==1.0
pdfrw==0.4
pycparser==2.18
Pyphen==0.9.4
six==1.11.0
tinycss2==0.6.1
WeasyPrint==0.42.3
webencodings==0.5.1
